.navbar {
  background-color: white; 
  color: #2c2c54; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav-link {
  color: #2c2c54 !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.navbar-toggler {
  border: none;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo {
  height: 50px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer {
  background-color: #f8f9fa;
}

.offcanvas-body .nav-link {
  color: #2c2c54 !important;
  margin: 15px 0;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.offcanvas-end .navbar-nav {
  display: none;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: none;
  }

  .offcanvas-end .navbar-nav {
    display: block;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-nav .nav-link {
    margin-left: 0;
    text-align: center;
  }
}

header.bg-white {
  background-color: white !important;
}

header.bg-white .navbar-nav .nav-link {
  color: #2c2c54 !important;
}
